{% if cloud_admin_authenticated %}
    {% with nav_title=_('Log out as admin') %}
        <span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', nav_title, 'right') }}>
            <button
                data-testid="cloud-admin-button"
                class="nav-link text-start me-1 position-relative align-items-center"
                hx-get="{{ url_for('cloud-admin-logout-confirm') }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <div class="d-block">
                    <i class="bi bi-person-fill-check text-success"></i>
                    <span class="pe-2 expanded-only fw-bold">
                        {{ _('Log out') }}
                    </span>
                </div>
            </button>
        </span>
    {% endwith %}
{% else %}
    {% with nav_title=_('Admin login') %}
        <span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', nav_title, 'right') }}>
            <a
                data-testid="cloud-admin-button"
                class="nav-link text-start me-1 position-relative align-items-center"
                href="{{ url_for('admin-login-page') }}"
            >
                <div class="d-block">
                    <i class="bi bi-person-lock"></i>
                    <span class="pe-2 expanded-only">
                        {{ _('Admin login') }}
                    </span>
                </div>
            </a>
        </span>
    {% endwith %}
{% endif %}
